@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .container-mini.container {
    max-width: 1128px;
  }
  .section {
    padding: 120px 0;
  }

  /* ---HEADER----- */
  .header-wrap {
    padding: 24px 0px;
  }

  .header-navigation {
    gap: 76px;
  }

  .header-address-list {
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 40px;
  }

  .header-mail-link,
  .header-phone-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* ----HERO----- */
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-in-office-desk-1x.jpg);
    padding-top: 188px;
    padding-bottom: 188px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/people-office-desk-2x.jpg);
    }
  }
  /* ---SECTION 2 index.html */

  /* .main-index{
}*/
  /* .main-priorities {
} */

  .priorities-list {
    flex-wrap: nowrap;
    gap: var(--gap_between_img-desktop);
  }
  /* .priorities-item {
}  */

  .priorities-item-wrap {
    display: flex;
    min-height: 112px;
    align-items: center;
    justify-content: center;
    background-color: var(--back-logo-color);
    border-radius: 4px;
  }
  /* .priorities-item-icon {
} */

  .priorities-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
  }
  .priorites-desc {
    font-weight: 400;
    text-align: inherit;
    max-width: 264px;
  }

  /* ---SECTION 3 index.html */

  .main-results {
    display: block;
  }

  .team-title {
    margin-bottom: 72px;
  }

  .results-list {
    display: flex;
    gap: var(--gap_between_img-desktop);
  }

  /* ----OUR TEAM--------- */
  .main-team {
    padding-bottom: 120px;
  }

  .team-list {
    flex-wrap: nowrap;
    gap: var(--gap_between_img-desktop);
  }

  .team-item {
    width: calc((100% - 3 * var(--gap_between_img-desktop)) / 4);
  }

  /* ----CUSTOMERS------- */

  .main-customers {
    padding: 120px 0;
  }

  .customers-title {
    margin-bottom: 72px;
  }

  .customers-list {
    flex-wrap: nowrap;
    gap: var(--gap_between_img-desktop);
  }

  .customers-item {
    width: calc((100% - 5 * (var(--gap_between_img-desktop))) / 6);
  }

  /*--------- Portfolio's styles -------------*/

  /* -----SECTION WITH PROJECTS */
  .main-projects {
    padding: 96px 0 120px;
  }

  .main-portfolio-list {
    margin-bottom: 72px;
    gap: var(--gap_between_img-desktop);
  }

  /* ----SECTION WITH BUTTONS---------- */
  .main-portfolio-btn {
    padding: 12px var(--gap_between_img-desktop);
  }

  .projects-list {
    row-gap: 48px;
    column-gap: var(--gap_between_img-desktop);
  }

  .project-item {
    width: calc((100% - 2 * var(--gap_between_img-tablet)) / 3);
  }

  /* ---FOOTER------ */

  .footer-index,
  .footer-portfolio {
    padding: 100px 0;
  }

  .footer-wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    gap: 0;
  }

  .footer-text-wrap,
  .footer-portfolio-wrapper {
    margin-right: 120px;
    margin-bottom: 0;
  }

  .footer-desc {
    max-width: 264px;
  }

  .footer-soc-wrap {
    margin-right: 80px;
  }

  .footer-subscribe-form {
    gap: var(--gap_between_img-desktop);
  }

  .footer-text-wrap,
  .footer-portfolio-wrapper {
    display: inline-block;
  }

  .footer-soc-wrap {
    display: inline-block;
  }

  .subscribe-footer {
    display: inline-block;
  }

  .footer-subscribe-form {
    flex-wrap: nowrap;
    justify-content: center;
    gap: var(--gap_between_img-desktop);
  }

  .footer-email-input {
    min-width: 264px;
  }
}
