/* --------index.html styles--------- */

:root {
  --title-color: #2e2f42; /* title,button, logo, background */
  --accent-color: #404bbf; /* hover,focus */
  --button-logo-color: #4d5ae5; /* logo,btn text and background*/
  --text-desc-color: #434455; /* text and address*/
  --hero-back-color: #ffffff; /* hero's text, background and text(hover,focus)*/
  --back-logo-color: #f4f4fd; /* logo, btn(background -text and -color)*/
  --logo-border-color: #e7e9fc; /* logo-footer,btn border*/
  --customers-border-color: #8e8f99; /*customers border logo*/
  --footer-icon-activ-color: #31d0aa;
  --modal-windows-bgr-color: #fcfcfc;
  --policy-text-color: #757575;
  --title-hero-weight: 500;
  --gap_between_img-mobile: 16px;
  --gap_between_img_bottom-mobile: 72px;
  --gap_between_img-tablet: 24px;
  --gap_between_img-desktop: 24px;
  --time-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.btn {
  font-family: inherit;
  font-weight: var(--title-hero-weight);
  font-size: inherit;
  line-height: inherit;
  letter-spacing: 0.04em;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.title {
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
}

.subtitle {
  font-weight: var(--title-hero-weight);
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}

.text-desc {
  color: var(--text-desc-color);
  text-align: center;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

h1,
h2,
h3 {
  margin: 0;
}

ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.container {
  max-width: 428px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: auto;
  margin-left: auto;
}

.container-team.container {
  padding: 0;
  max-width: 264px;
}

.section {
  padding-top: 96px;
}

/* -----HEADER------------ */

/* .header-index {
} */

.header-container,
.header-portfolio-container {
  position: relative;
  padding-bottom: 70px;
}

.header-wrap {
  min-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 16px;
}
.header-navigation {
  display: flex;
  margin-right: auto;
}

.header-logo,
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-logo-color);
}

.header-navigation > a {
  display: block;
}

.header-logo {
  line-height: 1.33;
  margin-right: 76px;
}

.header-logo > span {
  color: var(--title-color);
}

.header-list {
  display: none;
}

.header-address {
  display: none;
}

.mob-open-menu-btn,
.mob-open-menu-btn-portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: transparent;
  background-color: transparent;
}
.mob-menu-btn-icon {
  stroke: var(--title-color);
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  padding: 40px 40px;
  background-color: var(--hero-back-color);
  transform: translateX(100%);
  transition-property: transform;
  transition-duration: var(--time-duration);
  transition-timing-function: var(--timing-function);
}

.mob-menu.is-open {
  transform: translateX(0);
}
.mob-close-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  width: var(--gap_between_img-desktop);
  height: var(--gap_between_img-desktop);

  background-color: #e7e9fc;
  color: #000;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-bottom: 16px;
}

.mob-wrap {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mob-navigation {
  fill: currentColor;
}
.mob-header-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mob-header-item > .current-page {
  color: var(--accent-color);
}

.mob-header-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--title-color);
}

.mob-header-address {
  font-style: normal;
}
.mob-header-address-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 48px;
}
.mob-header-mail {
}
.mob-header-mail-link,
.mob-header-phone-link {
  display: inline-block;
}

.mob-header-phone-link {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  text-transform: capitalize;
  color: var(--button-logo-color);
}

.mob-header-mail-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--text-desc-color);
}
.mob-soc-link {
}

.mob-soc-list {
  display: flex;
  justify-content: space-between;
}
.mob-soc-item {
  min-width: 40px;
  min-height: 40px;
}
.mob-soc-link {
  min-width: 100%;
  min-height: 100%;
  background-color: var(--button-logo-color);
  color: var(--hero-back-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: var(--time-duration);
  transition-timing-function: var(--timing-function);
}
.mob-soc-icon {
  fill: currentColor;
}

/* -----------HERO------------ */
.hero {
  background-color: var(--title-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-in-office-mob-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover cover;
  background-position: center;
  max-width: 100%;
  margin: 0 auto;

  text-align: center;

  padding-top: 112px;
  padding-bottom: 112px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-in-office-mob-2x.jpg);
  }
}

.hero-title {
  font-size: 36px;
  line-height: 1.11;
  color: var(--hero-back-color);

  max-width: 318px;
  margin: 0 auto var(--gap_between_img_bottom-mobile) auto;
}

.hero-btn {
  min-width: 169px;
  color: var(--hero-back-color);
  background: var(--button-logo-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
  padding: 12px 0;

  transition-property: background-color;
  transition-duration: var(--time-duration);
  transition-timing-function: var(--timing-function);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-color);
}

/* ---SECTION 2 index.html */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.priorities-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap_between_img_bottom-mobile);
}
.priorities-item {
  width: 100%;
}

.priorities-item-wrap {
  display: none;
}

.priorities-subtitle,
.projects-subtitle,
.team-name,
.team-job,
.priorities-item-wrap {
  margin-bottom: 8px;
}

.priorities-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}
.priorites-desc {
  font-weight: 500;
  width: 100%;
}

/* ---SECTION 3 index.html */

.main-results {
  display: none;
}

/* ---SECTION 4 index.html */

.main-team {
  background-color: var(--back-logo-color);
  padding-bottom: 128px;
}

.team-title {
  margin-bottom: var(--gap_between_img_bottom-mobile);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap_between_img_bottom-mobile);
}

.team-item {
  max-width: 264px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--hero-back-color);
}

.project-desc {
  color: var(--text-desc-color);
}

.team-content {
  padding: 32px 16px;
}

.team-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.team-icon-item {
  width: 40px;
  height: 40px;
}
.team-icon-link {
  width: 100%;
  height: 100%;
  background-color: var(--button-logo-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: var(--time-duration);
  transition-timing-function: var(--timing-function);
}

.team-soc-icon {
  fill: var(--hero-back-color);
}

.team-icon-link:is(:hover, :focus) {
  background-color: var(--accent-color);
}

/* ----------CUSTOMERS------------- */
.main-customers {
  padding-bottom: 96px;
}

.customers-title {
  margin-bottom: var(--gap_between_img_bottom-mobile);
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: var(--gap_between_img_bottom-mobile);
  column-gap: var(--gap_between_img-mobile);
}

.customers-item {
  flex-basis: calc((100% - var(--gap_between_img-mobile)) / 2);
  height: 88px;
}
.customers-link {
  width: 100%;

  height: 100%;
  border: 1px solid var(--customers-border-color);
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--customers-border-color);

  transition-property: border-color, color;
  transition-duration: var(--time-duration), var(--time-duration);
  transition-timing-function: var(--timing-function), var(--timing-function);
}

.customers-icon {
  fill: currentColor;
}

.customers-link:is(:hover, :focus) {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

/* -------------FOOTER------------- */

.footer-index,
.footer-portfolio {
  background-color: var(--title-color);
  padding: 96px 0;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap_between_img_bottom-mobile);
}

.footer-text-wrap,
.footer-portfolio-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  display: inline-block;
  line-height: 1.17;
  margin-bottom: var(--gap_between_img-mobile);
}

.footer-logo > span {
  color: var(--back-logo-color);
}

.footer-desc {
  color: var(--logo-border-color);
  width: 268px;
}

.footer-soc-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-soc-title {
  font-weight: var(--title-hero-weight);
  color: var(--hero-back-color);
  margin-bottom: 16px;
}
.footer-soc-list {
  display: flex;
  gap: var(--gap_between_img-mobile);
}
.footer-soc-item {
  width: 40px;
  height: 40px;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--back-logo-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: var(--time-duration);
  transition-timing-function: var(--timing-function);
}
.footer-soc-icon {
  fill: currentColor;
}

.footer-soc-link:is(:hover, :focus) {
  background-color: var(--footer-icon-activ-color);
}

.subscribe-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-subscribe-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--gap_between_img-mobile);
}
.footer-email-input {
  outline: transparent;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  min-width: 100%;
  min-height: 40px;
  padding: 8px 16px;
  color: var(--hero-back-color);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  margin: 0;
}

.footer-email-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-email-input:is(:hover, :focus) {
  border-color: var(--accent-color);
}

.subscribe-btn {
  min-width: 165px;
  min-height: 40px;
  background-color: var(--button-logo-color);
  border-color: var(--button-logo-color);
  border-radius: 4px;
  color: var(--hero-back-color);
  font-weight: 500;
  font-size: 16px;
  padding: 8px 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  transition-property: background-color, border-color;
  transition-duration: var(--time-duration), var(--time-duration);
  transition-timing-function: var(--timing-function), var(--timing-function);
}

.send-btn-icon {
  fill: currentColor;
}

.subscribe-btn:is(:hover, :focus) {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

/*--------- Portfolio's styles -------------*/

.header-portfolio {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* -----SECTION WITH PROJECTS */

.main-projects {
  padding: 48px 0;
}

.main-portfolio-list {
  margin-bottom: 48px;
  max-width: 263px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: var(--gap_between_img-mobile);
  column-gap: var(--gap_between_img-desktop);
}

/* ----SECTION WITH BUTTONS---------- */

.main-portfolio-btn {
  text-align: center;
  color: var(--button-logo-color);

  background: var(--back-logo-color);
  border: 1px solid var(--logo-border-color);
  border-radius: 4px;

  padding: 8px calc(var(--gap_between_img-mobile) - 1px);

  transition-property: border-color, background-color, color, box-shadow;
  transition-duration: var(--time-duration), var(--time-duration),
    var(--time-duration), var(--time-duration);
  transition-timing-function: var(--timing-function), var(--timing-function),
    var(--timing-function), var(--timing-function);
}

.main-portfolio-btn:hover,
.main-portfolio-btn:focus {
  color: var(--hero-back-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.projects-list {
  max-width: 396px;
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
.project-item {
  width: 100%;
}
.projects-link {
  width: 100%;
  color: inherit;
  display: inline-block;
  transition-property: box-shadow;
  transition-duration: var(--time-duration);
  transition-timing-function: var(--timing-function);
}

.projects-link:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.image-text-wrap {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
}

.text-wrap {
  position: absolute;
  height: 100%;
  padding: 40px 32px;
  background-color: var(--button-logo-color);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: var(--time-duration);
  transition-timing-function: var(--timing-function);
}

.project-text {
  color: var(--back-logo-color);
  overflow: auto;
}

.projects-link:is(:hover, :focus) .text-wrap {
  transform: translateY(0%);
}

.project-content {
  padding: 32px 0;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.projects-subtitle,
.project-desc {
  padding: 0 16px;
  text-align: left;
}

/* ---------Modal window--------- */
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition-property: opacity, visibility;
  transition-duration: var(--time-duration);
  transition-timing-function: var(--timing-function);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 392px;
  min-height: 586px;
  background-color: var(--modal-windows-bgr-color);
  padding: var(--gap_between_img-desktop) 16px;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition-property: transform;
  transition-duration: var(--time-duration);
  transition-timing-function: var(--timing-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-btn-close {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  width: var(--gap_between_img-desktop);
  height: var(--gap_between_img-desktop);

  background-color: #e7e9fc;
  color: #000;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition-property: color, background-color, border-color;
  transition-duration: var(--time-duration), var(--time-duration),
    var(--time-duration);
  transition-timing-function: var(--timing-function), var(--timing-function),
    var(--timing-function);

  margin-bottom: var(--gap_between_img-desktop);
}

.modal-close-icon {
  fill: currentColor;
}

.modal-btn-close:is(:hover, :focus) {
  color: var(--hero-back-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal-title {
  font-weight: 500;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--customers-border-color);
}

.input-wrap {
  position: relative;
}

.input-frame {
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  min-height: 40px;
  padding-left: 38px;
  color: var(--title-color);
  transition-property: border-color;
  transition-duration: var(--time-duration);
  transition-timing-function: var(--timing-function);
}

.input-user {
  min-width: 100%;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: var(--time-duration);
  transition-timing-function: var(--timing-function);
}

.modal-comments {
  resize: none;
  min-width: 100%;
  min-height: 120px;
  padding: 8px 16px;

  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--title-color);
}

.modal-comments::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.policy-wrap {
  width: 100%;
  display: flex;
  justify-content: baseline;
  padding-top: 8px;
}

.checkbox-text {
  position: relative;
  padding-left: 24px;
  font-size: 12px;
  line-height: 1.33;
  width: 100%;
  letter-spacing: 0.04em;
  color: var(--policy-text-color);
}
.policy-link {
  color: var(--button-logo-color);
}

.modal-submit-btn {
  display: inline-block;
  margin: 16px auto auto;
  min-width: 169px;
  min-height: 56px;
  padding: 16px 32px;
  color: var(--hero-back-color);
  background: var(--button-logo-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  transition-property: background-color, border-color;
  transition-duration: var(--time-duration), var(--time-duration);
  transition-timing-function: var(--timing-function), var(--timing-function);
}

.modal-submit-btn:is(:hover, :focus) {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.input-frame:is(:hover, :focus) + .input-icon,
.input-icon:is(:hover, :focus) {
  fill: var(--button-logo-color);
}

.input-frame:focus {
  border-color: var(--button-logo-color);
}

.checkbox-text span {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 16px;
  min-height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  color: transparent;
  background-color: transparent;
  transition-property: color, background-color, border-color;
  transition-duration: var(--time-duration), var(--time-duration),
    var(--time-duration);
  transition-timing-function: var(--timing-function), var(--timing-function),
    var(--timing-function);
}

.policy-tick-icon {
  fill: currentColor;
}

.policy-checkbox:checked + .checkbox-text span {
  color: var(--back-logo-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
