@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .container-mini.container {
    padding: 0;
    max-width: 552px;
  }

  /* ---HEADER----- */
  .header-wrap {
    display: flex;
    justify-content: space-between;
    padding: 24px 16px 0;
  }
  .header-navigation {
    margin: 0;
    display: flex;
    align-items: flex-start;
    gap: 120px;
  }

  .header-logo {
    margin: 0;
  }
  .header-list {
    margin: 0;
    display: flex;
    gap: 40px;
  }
  .header-item {
    display: flex;
  }

  .header-phone,
  .header-mail {
    display: inline-block;
    text-align: start;
  }

  .header-mail-link,
  .header-phone-link {
    margin: 0;
    padding: 0;
    display: block;
  }

  .header-link {
    display: flex;
    flex-direction: column;
    transition-property: color;
    transition-duration: var(--time-duration);
    transition-timing-function: var(--timing-function);
  }

  .header-item > .current-page {
    color: var(--accent-color);
    display: flex;
    gap: calc(var(--gap_between_img-desktop) - 4px);
  }

  .header-item > .current-page::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: currentColor;
  }

  .header-link,
  .projects-subtitle {
    font-weight: var(--title-hero-weight);
    color: inherit;
  }

  .header-link:hover,
  .header-link:focus {
    color: var(--accent-color);
  }

  .header-address {
    display: block;
    font-style: normal;
  }

  .header-address-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 4px;
    padding-bottom: 10px;
  }

  .header-mail-link,
  .header-phone-link {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--text-desc-color);
    transition-property: color;
    transition-duration: var(--time-duration);
    transition-timing-function: var(--timing-function);
  }

  .header-mail-link:hover,
  .header-phone-link:hover,
  .header-mail-link:focus,
  .header-phone-link:focus {
    color: var(--accent-color);
  }

  .mob-open-menu-btn {
    display: none;
  }

  /* --HERO----- */
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-in-office-tab-1x.jpg);
    min-width: 768px;
    padding-top: 112px;
    padding-bottom: 108px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/people-in-office-tab-2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 494px;
    margin: 0 auto 40px auto;
  }

  /* ---Priorities---- */
  .priorities-list {
    width: 100%;
    gap: var(--gap_between_img-tablet);
  }
  .priorities-item {
    width: calc((100% - var(--gap_between_img-tablet)) / 2);
  }

  /* ---Our team---- */

  .main-team {
    padding-bottom: 104px;
  }

  .team-list {
    width: 100%;
    row-gap: 64px;
    column-gap: var(--gap_between_img-tablet);
  }

  .team-item {
    flex-basis: calc((100% - var(--gap_between_img-tablet)) / 2);
  }

  /* -----CUSTOMERS---------- */
  .customers-list {
    gap: var(--gap_between_img-tablet);
  }

  .customers-item {
    flex-basis: calc((100% - 2 * var(--gap_between_img-tablet)) / 3);
  }

  /*--------- Portfolio's styles -------------*/

  /* -----SECTION WITH PROJECTS */
  .main-projects {
    padding: 64px 0 96px;
  }

  .main-portfolio-list {
    margin-bottom: 64px;
    flex-wrap: nowrap;
    justify-content: center;
    min-width: 100%;
    gap: var(--gap_between_img-tablet);
  }

  /* ----SECTION WITH BUTTONS---------- */
  .main-portfolio-btn {
    padding: 12px var(--gap_between_img-tablet);
  }

  .projects-list {
    min-width: 100%;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: var(--gap_between_img-tablet);
  }

  .project-item {
    width: calc((100% - var(--gap_between_img-tablet)) / 2);
  }

  /* -----FOOTER-------- */
  .footer-wrapper {
    display: flex;
    gap: 0;
    justify-content: flex-start;
  }
  .footer-text-wrap,
  .footer-portfolio-wrapper {
    display: inline-block;
    margin-right: var(--gap_between_img-tablet);
    margin-bottom: 72px;
  }

  .footer-soc-wrap {
    display: inline-block;
  }

  .subscribe-footer {
    display: block;
  }

  .footer-subscribe-form {
    justify-content: flex-start;
  }

  .footer-email-input {
    min-width: 264px;
  }

  .footer-soc-list {
    gap: var(--gap_between_img-mobile);
  }

  .modal {
    min-width: 408px;
    padding: var(--gap_between_img-desktop);
  }
}
